@screen sm {
  .nav {
    grid-template-rows: repeat(4, auto) 1fr;
  }
}

@screen md {
  .nav {
    grid-template-rows: repeat(4, auto);
  }
}

@screen lg {
  .nav {
    grid-template-rows: auto 1fr;
  }
}
